body {
    font-family: 'Aleo', serif;
    background-color: aliceblue;
}

.input-group-append {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.search-button {
    border-radius: 5px;
    border: none;
}

.list-group {
    margin: 15px 0;
    width: 100%;
}

.weather-hr {
    width: 100%;
    color: blueviolet;
}

.weatherIcon {
    align-self: center;
    width: 40px;
    height: auto;
}